* {
    box-sizing: border-box;
}

h1 {
    font-weight: bold;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    padding-bottom: 70px;
    background: url("../images/old_moon.png");
    display: flex;
    flex-direction: column;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

hr {
    width: 600x;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    background-color: #ddd;
    border: 0 none;
}

#app {
    width: 100%;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
   }

.navbar-brand {
    background-color: #4aaaa5;
    width: 200px;
    text-align: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

.btn-primary {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}

.btn-primary:hover {
    background-color: black;
    border-color: black;
}

.form {
    width: 700px;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 50px;
    background-color: white;
    display: block;
}

footer {
    padding: 30px 0;
    /* clear: both; */
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.px-0 {
    padding: 0 !important;
}